.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mountain-cover {
  margin: 30px;
  width: 400px;
}

.App-link {
  color: #61dafb;
}